#root {
  max-width: 100vw;
  min-height: 100vh;
  background-color: #222222;
}

.pokedex-container {
  background-color: red;
}

.pokemon-list {
  background-color: green;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  height: 100%;
}

.pokemon-card {
  background-color: blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: fit-content;
}

.pokemon-card:hover {
  background-color: yellow;
  cursor: pointer;
}

.pokemon-list {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 1rem;
  padding: 1rem;
}

/* media queries */
@media (max-width: 1024px) {
  .pokemon-list {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (max-width: 768px) {
  .pokemon-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

.ability {
  background-color: red;
}



* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  font-weight: 300;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}